.Weather body {
  font-family: arial, sans-serif;
}

.Weather h1 {
  color: black;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.Weather .footer {
  font-size: 10px;
  color: black;
  opacity: 0.8px;
  text-align: center;
}

footer a {
  text-decoration: none;
}

.container {
  margin-top: 70px;
}

.weather-app-wrapper {
  position: relative; /* parent container relative */
  max-width: 600px;
  margin: 30px auto;
  z-index: 1; /* set z-index value*/
}

.weather-app {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  position: relative; /* make child container relative */
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  z-index: 2; /* */
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.form-group {
  position: relative; /* */
  z-index: 2; /* */
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  text-decoration: none;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.designer {
  margin-top: 10px;
  text-align: center;
}

.form-control {
  opacity: 0.8;
}

a:link,
active {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperature {
  font-size: 13px;
}
